@charset "UTF-8";
:root {
  --bg-main: #ffffff;
  --gradient-main: linear-gradient(90.68deg, #a17eff .99%, #69dbff 103.91%);
  --gradient-lite: linear-gradient(98.95deg, rgba(246, 250, 255, .5) 6.09%, rgba(223, 245, 255, .5) 93%);
  --gradient-btn: linear-gradient(90deg, #6cd4ff 0, #00b2f7 100%);
  --gradient-hover: linear-gradient(271.88deg, #3cc9ff -1.63%, #9176ea 80.83%);
  --gradient-circle: linear-gradient(145.06deg, #aa68f6 14.06%, #50b9ff 98.24%);
  --border-main: #08b5f8;
  --header-bg: #ffffff;
  --footer-bg: linear-gradient(98.95deg, rgba(246, 250, 255, .5) 6.09%, rgba(223, 245, 255, .5) 93%);
  --burger-bg: rgba(0, 0, 0, 0);
  --burger-color: #08b5f8;
  --menu-bg: #ffffff;
  --text-main: #000000;
  --text-active: #6c379d;
  --btnColor-default_bg: #FFB548;
  --btnColor-default_text: #000000;
  --btnColor-hover_bg: #ffffff;
  --btnColor-hover_text: #000000;
  --btnColor-focus_bg: #FFB548;
  --btnColor-focus_text: #000000;
  --btnBorder-focus_border: #ffffff;
  --index-elem-1: 1;
  --index-elem-2: 2;
  --index-elem-3: 3;
  --index-mask: 4;
  --index-sidebar: 5;
  --index-modal: 6;
  --index-topmost: 7;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Regular.9e514267.eot);
  src: url(../fonts/MontserratAlternates-Regular.9e514267.eot?#iefix) format("embedded-opentype"), url(../fonts/MontserratAlternates-Regular.c8ca5814.woff) format("woff"), url(../fonts/MontserratAlternates-Regular.58815ebb.woff2) format("woff2"), url(../fonts/MontserratAlternates-Regular.94d0761b.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-SemiBold.c543e77f.eot);
  src: url(../fonts/MontserratAlternates-SemiBold.c543e77f.eot?#iefix) format("embedded-opentype"), url(../fonts/MontserratAlternates-SemiBold.e68ccb92.woff) format("woff"), url(../fonts/MontserratAlternates-SemiBold.a64aaa2c.woff2) format("woff2"), url(../fonts/MontserratAlternates-SemiBold.19a158b7.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Bold.17786ffd.eot);
  src: url(../fonts/MontserratAlternates-Bold.17786ffd.eot?#iefix) format("embedded-opentype"), url(../fonts/MontserratAlternates-Bold.cac9d6cd.woff) format("woff"), url(../fonts/MontserratAlternates-Bold.58895a9b.woff2) format("woff2"), url(../fonts/MontserratAlternates-Bold.bc66a8c5.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 0;
  box-shadow: 0px 4px 32px 11px rgba(106, 52, 153, 0.1);
  border-radius: 0px 0px 20px 20px;
  background-color: var(--header-bg);
  z-index: var(--index-elem-3);
}
.header__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 700;
  color: var(--text-main);
  z-index: var(--index-elem-3);
  white-space: nowrap;
}
.header__menu {
  display: flex;
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem);
  background: var(--menu-bg);
  transition: top 1s;
}
.header__menu_active {
  top: 0;
  background: var(--menu-bg);
  z-index: var(--index-elem-2);
}
.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem);
  color: var(--text-main);
}
.header__list-item a {
  color: var(--text-main);
  font-weight: 400;
  font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
}
.header__blind-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: none;
  background: rgba(255, 255, 255, 0);
  width: 140px;
  cursor: pointer;
}
.header__blind-btn img {
  width: 40px;
}
.header__blind-btn p {
  margin: 0px 0 0 0;
  font-weight: 400;
  font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
}
.header__burger {
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  width: clamp(1.5rem, 0.786rem + 3.57vw, 2.5rem);
  height: clamp(1.5rem, 0.786rem + 3.57vw, 2.5rem);
  transition-duration: 1s;
  border: none;
  background: var(--burger-bg);
  z-index: var(--index-elem-2);
  cursor: pointer;
}
.header__burger span, .header__burger span:before, .header__burger span:after {
  position: absolute;
  right: 0;
  width: 100%;
  height: clamp(0.125rem, -0.054rem + 0.89vw, 0.375rem);
  border-radius: 20px;
  background: var(--burger-color);
}
.header__burger span {
  transition-duration: 0.25s;
  transition-delay: 0.25s;
}
.header__burger span:before, .header__burger span:after {
  content: "";
  left: 0;
}
.header__burger span:before {
  top: clamp(-0.5rem, -0.321rem - 0.89vw, -0.75rem);
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.header__burger span:after {
  top: clamp(0.5rem, 0.321rem + 0.89vw, 0.75rem);
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.header__burger_active span {
  transition-duration: 0.1s;
  transition-delay: 0.25s;
  background: transparent;
}
.header__burger_active span:before {
  transition: top 0.25s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(-45deg);
}
.header__burger_active span:after {
  transition: top 0.4s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(45deg);
}

@media (min-width: 768px) {
  .header__menu {
    position: relative;
    flex-direction: row;
    gap: 0;
  }
  .header__nav {
    margin: 0 auto;
  }
  .header__list {
    flex-direction: row;
  }
  .header__list-item a {
    font-size: 14px;
  }
  .header__blind-btn p {
    font-size: 14px;
  }
  .header__burger {
    display: none;
  }
}
.footer {
  padding: 20px 0;
  background: var(--gradient-lite);
  text-align: center;
  font-weight: 400;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--border-main);
}
.footer__privacy-policy {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}
.footer__сopyright {
  margin: 10px 0 0 0;
  font-size: 12px;
}
.footer__creator {
  margin: 10px 0 0 0;
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--bg-main);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #08b5f8;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}